<%= render "todos/todoNav" %>

<div class="container">


  <div class="sub-nav">
    <ul class="nav nav-tabs" role="tablist">
      <li>
        <%= link_to "Messages", messages_path %>
      </li>
      <li class="active"><%= link_to "Edit Message", edit_message_path(@message) %></li>
    </ul>
  </div>

<h1>Edit Message</h1>

<%= render "todos/todoLayoutTop" %>

<%= render "form" %>

<%= render "todos/todoLayoutBottom" %>
