<%= render "movies/navMovies" %>
<div class="container">
<div class="create">
  <div class="container">
    <%= render "errors" %>
    <%= form_for(@message) do |f| %>
    <div class="field">
    		<%= f.label :message %>
    		<%= f.text_field :name %>
    		<%= f.text_field :email %>
    		<%= f.text_area :content %>
    </div>
    <div class="actions">
    		<%= f.submit "Update" %>

        <%= link_to "All Messages", messages_path(@message), :class => 'path_links' %>
    </div>
    <% end %>
  </div>
</div>
</div>
