<% content_for :title do %>blog app<% end %>
<%= render "todos/todoNav" %>

<div class="container">


  <div class="sub-nav">
    <ul class="nav nav-tabs" role="tablist">
      <li class="active">
        <%= link_to "Blogs", messages_path %>
      </li>
      <li><%= link_to "Create Blog", new_message_path %></li>
    </ul>
  </div>

  <%= render "todos/todoLayoutTop" %>

<!-- BLOG ENTRY -->
  <% @messages.each do |message| %>
  <div class="panel panel-default blog_entry_box">
    <div class="row ">
      <div class="col-md-1">

          <%= link_to message, class: "btn btn-xs btn-primary show-icon" do %>
            <span class="has-tooltip" data-toggle="tooltip" title="Show Blog" >
              <i class="fa fa-eye"></i></span><% end %>

          <%= link_to edit_message_path(message), class: "btn btn-xs btn-primary edit-icon", data: { modal: true } do %>
            <span class="has-tooltip" data-toggle="tooltip" title="Edit Blog" >
              <i class="fa fa-pencil"></i></span><% end %>

          <%= link_to message, method: :delete,
            data: { confirm: 'Are you sure?' }, class: "btn btn-xs btn-danger delete-icon" do %>
            <span class="has-tooltip" data-toggle="tooltip" title="Delete Blog" >
            <i class="fa fa-trash"></i></span><% end %>

        <%= link_to new_message_path, class:"btn btn-xs btn-success create-icon" do %>
            <span class="has-tooltip" data-toggle="tooltip" title="Create New Blog" >
            <i class="fa fa-plus"></i></span><% end %>

      </div>
      <div class="col-md-11 ">
        <div class="row">
          <div class="col-md-11 blog_entry_top">
            <p><strong>Title: </strong> <%= message.name %></p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-11">
            <p class="truncate"><%= message.content %></p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-11">
            <p><strong>Comments: </strong>
              <% if message.comments.count > 1 %>
                Yes. <%= message.comments.count %> comments.</p>
              <% else %>
                No comments.</p>
            <% end %>
          </p>
          </div>
        </div>
        <div class="row ">
          <div class="col-md-11">
            <p><strong>created at:</strong> <%= message.created_at.strftime("%A %b %d %Y %I:%M %p %Z") %></p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <% end %>
<!-- BLOG ENTRY END -->
        <%= render "todos/todoLayoutBottom" %>
