<%= render "header" %>

<div class="messages">

  <div class="container">

    <%= link_to 'New Message', new_message_path %>
    <% @messages.each do |message| %>
    <div class="message">
    	<p class="content">name:<%= message.name %></p>
    	<p class="content">email: <%= message.email %></p>
    	<p class="content"><%= message.content %></p>
    	<p class="time">created at: <%= message.created_at.strftime("%A %b %d %Y %I:%M %p %Z") %></p>
      <%= link_to "see message", message_path(message) %>


    </div>
    <% end %>
    <%= link_to 'New Message', new_message_path %>

  </div>
</div>
