<% content_for :title do %>PEJ | blog app<% end %>
<%= render "todos/todoNav" %>

<div class="container">


  <div class="sub-nav">
    <ul class="nav nav-tabs" role="tablist">
      <li>
        <%= link_to "Blogs", messages_path %>
      </li>
      <li class="active"><%= link_to "Create Blog", new_message_path %></li>
    </ul>
  </div>

<%= render "todos/todoLayoutTop" %>

<h1>Create Blog</h1>

<%= render "form" %>



<%= render "todos/todoLayoutBottom" %>
