<%= render "movies/navMovies" %>
<div class="container">
<div class="messages">
  <div class="container">
    <div class="message">
    	<p class="content">name:<%= @message.name %></p>
    	<p class="content">email: <%= @message.email %></p>
    	<p class="content"><%= @message.content %></p>
    	<p class="time">created at: <%= @message.created_at.strftime("%A %b %d %Y %I:%M %p %Z") %></p>
    	<p class="time">id: <%= @message.id %></p>
      <%= link_to 'edit', edit_message_path(@message) %>
      <%= link_to 'All Messages', messages_path(@message) %>
      <%= link_to 'Delete', message_path(@message),
        method: :delete,
        data: { confirm: 'Are you sure?' }      %>
    </div>
  </div>
</div>


<div class="messages">
  <div class="container">
    <h2>Comments</h2>
    <% @message.comments.each do |comment| %>
    <div class="message">
      <p class="content">commenter:<%= comment.commenter %></p>
    	<p class="content">comment: <%= comment.body %></p>
    </div>
    <% end %>
  </div>
</div>

<div class="create">
  <div class="container">
    <div class="field">
      <%= form_for ([@message, @message.comments.build]) do |f| %>
        <%= f.text_field :commenter, placeholder: 'commenter' %>
        <%= f.text_area :body, placeholder: 'comment' %>
      <div class="actions">
    		<%= f.submit "Create" %>
      </div>
      <% end %>
    </div>
  </div>
</div>
</div>
