
<% content_for :html_class, "contact_html" %>
<% content_for :body_class, "contact_body" %>

<div class="wrapper full_height">
  <nav class="navbar navbar-inverse navbar-default navbar-fixed-top">
    <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Phillip Emerson Jones</a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav"></ul>
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Portfolio
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role='menu'>
              <li ><a href="https://creamrises.herokuapp.com" >AngularJS App</a></li>
              <li><%= link_to "Reservation app", new_reservation_path %></li>
              <li><%= link_to "Movies app", movies_path %></li>
              <li><%= link_to "Todos app", todos_path %></li>
              <li><%= link_to "Blog app", messages_path %></li>
            </ul>
          </li>
          <li><%= link_to 'About', about_path %></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </div>
    <!-- /.navbar-collapse -->
    </div>
  <!-- /.container-fluid -->
  </nav>
  <!-- end container -->
  <div id="about" class="main_page_top full_height">
    <div class="row">
      <div class="col-xs-12 col-md-offset-4">-->
        <h1 class="jumbo-h1">Phillip Emerson Jones</h1>
        <p>Web/Software Development Professional</p>
      </div>
    </div>
    <a href="#contact"><i class="about-arrow fa fa-arrow-circle-down fa-4x text-center"
                          aria-hidden="true"></i>
    </a>
  </div>
  <div id="contact" class="main_page_bottom full_height">
    <div class="container">
      <div class="row">
        <div class="col-xs-4">
          <h1 class="jumbo-h1">Contact</h1>
          <p>phillip@phillipemersonjones.com</p>
          <p>shoot me a line</p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-4">
          <a href="https://www.linkedin.com/in/phillipjones2" target="_blank">
            <i class="fa fa-linkedin fa-4x" aria-hidden="true"></i>
          </a>
          <a href="https://www.facebook.com/profile.php?id=100006745729075" target="_blank">
            <i class="fa fa-facebook-official fa-4x" aria-hidden="true"></i>
          </a>
          <a href="https://github.com/phillipjones2" target="_blank">
            <i class="fa fa-github fa-4x" aria-hidden="true"></i>
          </a>
        </div>
      </div>
    </div>
    <a href="#about"><i class="about-arrow fa fa-arrow-circle-up fa-4x text-center"
      aria-hidden="true"></i>
    </a>
  </div>
</div>
