<%= simple_form_for(@reservation) do |f| %>
  <!-- <%= f.error_notification %> -->
  <div class="container">
    <div class="form-inputs">
      <div class="row">
        <div class="col-md-3">
          <%= f.input :name, label: "Name" %>
        </div>
        <div class="col-md-2">
          <%= f.input :num_tables, label: "Number of Tables", input_html: { min: '1', max: '10' } %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2 date_field">
          <%= f.date_field :reservation_date, label: "Reservation Date" %>
        </div>
        <div class="col-md-1 time_field">
          <%= f.select :reservation_time, [['Midnight',1],
                                           ['1 AM',1],['2 AM',2],['3 AM',3],['4 AM',4],['5 AM',5],['6 AM',6],
                                           ['7 AM',7],['8 AM',8],['9 AM',9],['10 AM',10],['11 AM',11],
                                           ['12 PM',12],['1 PM',1],['2 PM',2],['3 PM',3],['4 PM',4],['5 PM',5],
                                           ['6 PM',6],['7 PM',7],['8 PM',8],['9 PM',9],['10 PM',10],['11 PM',11]] %>
        </div>
      </div>
      <div class="row">
        <div class=" col-md-1 form-actions res_button">
          <%= f.button :submit, class:'btn btn-success'%>
        </div>
      </div>
    </div>
    <% end %>
  </div>
