
<% content_for :title do %>reservation app<% end %>
<% content_for :body_class, "reservation_body" %>
<p id="notice"><%= notice %></p>
<div class="container">

<h1>Listing Reservations</h1>

<br>
<table class="table table-responsive table-bordered table-hover">
  <thead>
    <tr>
      <th class="col-md-2">Name</th>
      <th class="col-md-1">Date</th>
      <th class="col-md-1">Time</th>
      <th class="col-md-1">Table Count</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @reservations.each do |r| %>
    <tr>
      <td><%= r.name %></td>
      <td><%= r.reservation_date %></td>
      <td><%= r.reservation_time %></td>
      <td><%= r.num_tables %></td>
      <td><%= link_to 'Show', r %></td>
      <td><%= link_to 'Edit', edit_reservation_path(r) %></td>
      <td><%= link_to 'Destroy', r, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
  </tbody>
</table>
</div>



<%= link_to 'New Reservation', new_reservation_path, class:'btn btn-success' %>
</div>
