
<% content_for :title do %>reservation app<% end %>
<% content_for :body_class, "reservation_body" %>
<%= render "todos/todoNav" %>

<div class="container reservation_container">
  <div class="jumbotron reservation_jumbo">
    <h1>New Reservation</h1>
    <%= render 'form' %>
  </div>


<table class="table table-responsive table-bordered table-hover reservation_table">
  <thead>
    <tr>
      <th class="col-md-2">Name</th>
      <th class="col-md-1">Date/ Time</th>
      <th class="col-md-1">Table Count</th>
    </tr>
  </thead>
  <tbody>
    <% Reservation.all.order('reservation_datetime').each do |r| %>
    <tr>
      <td><%= r.name %></td>
      <td><%= r.reservation_date %></td>
      <td><%= r.num_tables %></td>
    </tr>
    <% end %>
  </tbody>
</table>
</div>
