<div id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <li><%= link_to 'Main', root_url %></li>
        <li><%= link_to 'Resume', resume_path %></li>
        <li class=dropdown dropdown-menu-static">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Portfolio <span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><%= link_to "Reservation app", new_reservation_path %></li>
            <li><%= link_to "Movie app", movies_path %></li>
            <li><%= link_to "Todo app", todos_path %></li>
            <li><%= link_to "Message app", messages_path %></li>
            <li><a target="_blank" href="http://www.shadefreemusic.com">shadefreemusic</a></li>
              <!--  <li><a target="_blank" href="#">sk1project</a></li>
              -->
            </ul>
    </li>
    </ul>
    <ul id="social_sidebar_button" >
    <li><a href="mailto:phillip@phillipemersonjones.com">
        <i class="fa fa-envelope-o"></i>
    </li>
    <li><a href="mailto:phillip@phillipemersonjones.com">phillip</a></li>
    <li><a href="mailto:phillip@phillipemersonjones.com">phillipemersonjones</a></li>
    <li><a href="mailto:phillip@phillipemersonjones.com">.com</a></li>
      <li class="active">
        <a class="btn btn-social-icon btn-facebook" href="https://github.com/phillipjones2" target="_blank">
        <i class="fa fa-github" aria-hidden="true"></i></i></a>
        <a class="btn btn-social-icon btn-linkedin" href="https://www.linkedin.com/in/phillipjones2" target="_blank">
        <i class="fa fa-linkedin" aria-hidden="true"></i></a>
        <a class="btn btn-social-icon btn-facebook" href="https://www.facebook.com/profile.php?id=100006745729075" target="_blank">
        <i class="fa fa-facebook" aria-hidden="true"></i></a>

    </li>
  </ul>
</div>
<!-- /#sidebar-wrapper -->
